<!doctype html>
{% load static %}
<head>
<link  rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" >
    <title>Edit Post</title>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
</head>
<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="banner">
<header>Edit Post:</header>
</div>
<form action="{% url 'blog:publish' post.id %}" method="post">
{% csrf_token %}

<h3><label for=title>Title:</label></h3>
<br>

<textarea rows="1" cols="70"  name="title" id=title>{{post.post_title}}</textarea>
<br>

<h3><label for=desc>Body:</label></h3>
<br>
<textarea rows="4" cols="70" name="desc" id=desc>{{post.post_desc}}</textarea>
<br>
<input type="submit" value="Publish">
</form>



</body>