<!doctype html>
{% load static %}
<head>
<link  rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" >
    <title>New Post</title>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="banner">
        <header>New Post:</header>
        </div>
<form action="{% url 'blog:publish' post_id %}" method="post">
        {% csrf_token %}
        <h3><label for=title>Title:</label></h3>
        <br>
        <textarea rows="1" cols="70"  name="title" id=title>title:</textarea>
        <br>
        <h3><label for=title>Body:</label></h3>
        <br>
        <textarea rows="4" cols="70"  name="desc" id=desc>body:</textarea>
        <br>
        <h3><label for=title>Author:</label></h3>
        <br>
        <textarea rows="1" cols="70"  name="author" id=author>author:</textarea>
        <br>
        <h3><label for=title>Bio:</label></h3>
        <br>
        <textarea rows="4" cols="70"  name="bio" id=bio>bio:</textarea>
        <br>
            <input type="submit" value="Publish">
        </form>


</body>