<!doctype html>
{% load static %}
<head>
<link  rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" >
    <title>View Post</title>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
</head>
<body>
<div id= "banner">    
    <header>{{ post.post_title }}</header>
</div>
    <p><b>Written by:</b><a href="/blog/{{post.id}}/author"> &nbsp {{ post.author.author_name }}</a></p>
    <br>
    <p><b>Published:</b> &nbsp {{ post.pub_date }}</p>
    <br>
    <p>{{ post.post_desc }}</p>
    <br>
    <button class="button"><a href="/blog/{{post.id}}/edit">Edit</a></button>
</body>